#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config UORB_DEMO
	tristate "uorb_demo"
	default n
	depends on HAVE_CXX
	---help---
		Enable the uorb demo
